<div class="table-wrapper-scroll-y my-custom-scrollbar" id="comment-list">
  <h1 align="center">Comments</h1>
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th>Text</th>
        <th>Made By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% comments.each do |comment| %>
        <tr>
          <td><%= comment.text %></td>
          <td><%= comment.creator.name %></td>
          <td><%= link_to fa_icon('pencil-square-o', text: ''), edit_comment_url(comment), remote: true, class: 'btn btn-primary' %>
              <%= link_to fa_icon('trash-o', text:''), comment_url(comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
