<div class="table-wrapper-scroll-y my-custom-scrollbar" id="comment-list">
  <% @comments.each do |comment| %>
    <div class="row shrink-comment">
      <div class="container">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="clearfix"></div>
              <hr>
              <div class="media-list">
                <div class="media">
                  <div class="container">
                    <div class="pull-left">
                      <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                    </div>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                        <small class="text-muted"><%= comment.updated_at.strftime(" %I:%M%p")  %></small>
                      </span>
                      <h5 class="text-success"><%= comment.creator.name %></h5>
                      <p>
                        <%= comment.text %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
