<div class="container">
  <%= render 'comments/form', form_url: form_url %>
</div>
<div class="container" id="commentslist">
  <%= render 'comments/commentslist', comments: @comments, back_url: back_url %>
</div>
