<div class="container">
  <%= link_to 'Users', admin_users_url, class: 'btn btn-info'%>
  <%= link_to 'Clients', admin_clients_url, class: 'btn btn-info'%>
  <%= link_to 'Projects', admin_projects_url, class: 'btn btn-info'%>
</div>
