<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Download Link</th>
      </tr>
   </thead>

   <tbody>
      <% attachments.each do |attachment| %>

         <tr>
            <td><%= link_to "Download", attachment.attachment_url %></td>
            <% if attachment.creator_id == current_user.id %>
               <td><%= link_to "Delete", attachment_url(attachment), method: :delete, remote: true, class: "btn btn-danger", confirm: "Are you sure that you wish to delete ?" %></td>
            <% end %>
         </tr>

      <% end %>
   </tbody>

</table>
