/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "chosen";
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";
.top-right{
  position:absolute;
  right:0;
}
.user-search-text{
  margin-left:200px;
}
.user-search-select, .user-search-btn{
  margin-left:20px;
}
.shrink{
-webkit-transform:scale(0.90);
-moz-transform:scale(0.90);
-ms-transform:scale(0.90);
transform:scale(0.90);
}
.shrink-comment{
-webkit-transform:scale(0.93);
-moz-transform:scale(0.93);
-ms-transform:scale(0.93);
transform:scale(0.93);
}
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
.chosen-container {
 width: 100% !important;
}
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
}

.profile-header {
    margin-top: 43px;
}
